label {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: lightgray;
    font-size: 1rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
}

input {
    height: 40px;
}

textarea {
    height: 90px;
}

form {
    position: relative;
    top: 150px;
    right: 125px;
}

.contact {
    display: flex;
    justify-content: center;
    border-top: 3px solid red;
}

.contact-form {
    width: 500px;
    display: inline-block;
    margin: 50px;
}

.submit-button {
    top: 75px;
    left: 140px;
}

.contact-h1 {
    position: relative;
    top: 5px;
    left: 9%;
    font-size: 3rem;
}