
.logo-title {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
  }

  #first-line {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #second-line {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .combined-logo {
      padding-top: 40px;
  }

  .logo-icon {
    color: #a90000;
    position: relative;
    left: 175px;
    bottom: 38px;
    font-size: 30px;
  }

  @media screen and (max-width: 800px) {
    .logo-title {
      font-size: 1.5rem;
      margin-left: 5px;
    }
  
    .logo-icon {
      font-size: 20px;
      left: 140px; 
      bottom: 25px;
    }
  }